*settings
*project
*classpath
*target
*iml
.idea/
.DS_Store
*/.DS_Store
application.pid

/remediation/terraform/fc/.terraform/
/remediation/terraform/fc/terraform.tfstate
/remediation/terraform/fc/terraform.tfstate.backup
/remediation/terraform/fc/.terraform.lock.hcl

/remediation/terraform/oos/.terraform/
/remediation/terraform/oos/terraform.tfstate
/remediation/terraform/oos/terraform.tfstate.backup
/remediation/terraform/oos/.terraform.lock.hcl
/rules/preview-rule/IAC_misconfiguration_proactive_plugin/dist/
/rules/preview-rule/IAC_misconfiguration_proactive_plugin/node_modules/
